* {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

dialog {
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 300px;
}

dialog .myDiv {
    height: 200px;
    width: 200px;
    font-size: 16px;
    background-color: red;
    color: white;
    padding: 50px;
}

.dNone {
    display: none;
}